:root {
    --mainColor:rgb(20, 20, 20);
    --secondaryColor : rgb(143, 87, 160);
    --thirdColor :rgb(171, 77, 199);
    
    --lighterColor : rgb(182, 102, 202);
    --aboutTextColor:rgb(255, 252, 252);
    --projectsBoxTitleColor :var(--secondaryColor);

    --redDot:red;
    --greenDot:green;
    --orangeDot:orange;
    --purbleDot :rgb(214, 65, 219);
    --oliveDot :rgb(61, 179, 46);
    --whiteDot:white;
    --blackDot:black;

    --linkColor:rgb(39, 111, 219);

    --boxBackground :rgba(118, 119, 109, 0.8);
    --boxBackgroundshadow :rgb(63, 63, 59);
    
    --textLighterColor:rgb(255, 255, 255);
    --btnColor:white;


}
